<div class="limiter">
  <div class="container-cenovnik">
    <div class="wrap-login100">

      <div class="col-2">
        <div class="container-profilRight100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button (click)="MenjaProfil()" *ngIf="mainService.isAdmin()" class="profilRight100-form-btn">
              Izmeni cenovnik
            </button>
          </div>
        </div>

        <form [formGroup]="cenovnikForm" (ngSubmit)="onSubmit()" class="login100-form validate-form">
          <span class="login100-form-title  p-b-59">
            Cenovnik
          </span>


          <div class="wrap-input100 validate-input">
            <span class="label-input100">Tip karte</span>
            <select class="selectbox input100" (click)="PromeniTipKarte()" formControlName="tipkarte"
              [(ngModel)]="selectedTipKarte">
              <option value="Vremenska" selected>Vremenska</option>
              <option value="Dnevna"> Dnevna</option>
              <option value="Mesecna">Mesecna</option>
              <option value="Godisnja">Godisnja</option>
            </select>
            <span class="focus-input100"></span>
            <span class="symbol-reg100">
              <i class="fa fa-id-card" aria-hidden="true"></i>
            </span>
          </div>


          <div class="wrap-input100 validate-input">
            <span class="label-input100">Tip putnika</span>
            <select class="selectbox input100" (click)="PromeniTipaPutnika()" formControlName="tipputnika"
              [(ngModel)]="selectedTipPutnika">
              <option value="RegularniPutnik" selected>Regularni putnik</option>
              <option value="Djak"> Djak</option>
              <option value="Penzioner">Penzioner</option>
            </select>
            <span class="focus-input100"></span>
            <span class="symbol-reg100">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>


          <div class="wrap-input100 validate-input">
            <span class="label-input100">Cena karte</span>
            <input class="input100" type="text" placeholder="{{cena}}" readonly>
            <span class="focus-input100"></span>
            <span class="symbol-reg100">
              <i class="fa fa-money" aria-hidden="true"></i>
            </span>
          </div>


          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button type="submit" [disabled]="!cenovnikForm.valid" class="login100-form-btn">
                Kupi kartu
              </button>
            </div>
          </div>

          <div *ngIf="canBuy" class="alert alert-danger">
            Da bi ste kupili kartu morate da se ulogujete.
          </div>
        </form>
      </div>


      <div class="col-6">
        <div class="txt3">
          {{textMessage}}
        </div>

        <br />
        <div>
          <p class="login100-form-title p-b-59">Kupljene karte</p>
          <table>
            <thead>
              <tr>
                <th>Tip karte</th>
                <th>Cena</th>
                <th>Datum vazenja</th>
                <th>Obrisi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of purchasedTickets">
                <td>{{u.Type}}</td>
                <td>{{u.Price}}</td>
                <td>{{u.Date}}</td>
                <td>
                  <button type="button" class="btn btn-danger btn-circle" >
                    <a id="a" class="glyphicon glyphicon-remove" (click)="obrisiKartu(u)">X</a>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>