<div class="limiter">
	<div class="container-cenovnik">
    <div class="wrap-login100">


			<form class="login100-form validate-form" [formGroup]="dodajForm" (ngSubmit)="onSubmit()">
				<span class="login100-form-title">
					Registracija kontrolera
        </span>
        
        <p class="txt3">{{message}}</p>


				<div class="wrap-input100 validate-input" data-validate="Validna email adresa: someone@gmail.com">
            <p class="label-input100">Email</p>
            <input class="input100" type="text" formControlName="email" required placeholder="Email adresa..." required
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <span class="focus-input100"> </span>
            <span class="symbol-reg100">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </div>
          <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger">
            <div *ngIf="f.email.errors.required">
              <p>Email je obavezan.</p>
            </div>
            <div *ngIf="f.email.errors && f.email.errors.pattern" class="alert alert-danger">
              <p>Email nije u ispravnom formatu.</p>
            </div>
          </div>


				<div class="wrap-input100 validate-input" data-validate="Lozinka je neophodna">
          <p class="label-input100">Lozinka</p>
          <input class="input100" type="password" formControlName="password" required placeholder="*************">
          <span class="focus-input100"></span>
          <span class="symbol-reg100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger">
          <div *ngIf="f.password.errors.required">
            <p>Lozinka je obavezna.</p>
          </div>
        </div>


        <div class="wrap-input100 validate-input" data-validate="Ponovljena lozinka je neophodna">
          <p class="label-input100">Ponovljena lozinka</p>
          <input class="input100" type="password" formControlName="confirmPassword" required
            placeholder="*************">
          <span class="focus-input100"></span>
          <span class="symbol-reg100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)"
          class="alert alert-danger">
          <div *ngIf="f.confirmPassword.errors.required">
            <p>Lozinka je obavezna.</p>
          </div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">
            <p>Lozinke se moraju poklapati.</p>
          </div>
        </div>


				<div class="container-login100-form-btn">
					<button type="submit" class="login100-form-btn">
							Registrujte kontrolera
					</button>
				</div>


			</form>
		</div>
	</div>
</div>