<div class="limiter">
        <div class="container-cenovnik">
                <div class="wrap-login100">

                        <div id="buttons">
                                <ul>
                                        <li *ngFor="let route of routes" (click)="selektovanaRuta(route)">
                                                        <button type="button" (click)="selektovanaRuta(route)" class="btn btn-warning btn-circle btn-lg" >
                                                <a class="glyphicon" title="{{route.TipRute}}">{{route.BrojRute}}</a>
                                        </button>
                                        </li>
                                </ul>
                        </div>

                        <div>
                                <app-mapa></app-mapa>
                        </div>
                </div>
        </div>
</div>