<div class="limiter">
  <div class="container-login100">
    <div class="wrap-reg100">

        <div class="container-profilRight100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button (click)="MenjaProfil()" *ngIf="menjaProfil" class="profilRight100-form-btn">
                Izmeni profil
              </button>
            </div>
          </div>

      <form [formGroup]="profilForm" (ngSubmit)="onSubmit()" class="login100-form validate-form">
        <span class="login100-form-title p-b-59">
          Profil
        </span>

        <p class="txt3">{{serverSuccessMessage}}</p>

        <div class="wrap-input100 validate-input" data-validate="Ime je obavezno">
          <p class="label-input100">Ime</p>
          <input class="input100" type="text" formControlName="name" [readonly]="menjaProfil" >
          <span class="focus-input100"></span>
          <span class="symbol-reg100">
            <i class="fa fa-font" aria-hidden="true"></i>
          </span>
        </div>
        <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched) && !menjaProfil" class="alert alert-danger">
          <div *ngIf="f.name.errors.required">
              <p>Ime je obavezno.</p>
          </div>
          <div *ngIf="f.name.errors.minlength">
              <p>Ime mora da se sastoji od minimum 3 slova.</p>
          </div>
        </div>


        <div class="wrap-input100 validate-input" data-validate="Prezime je obavezno">
          <p class="label-input100">Prezime</p>
          <input class="input100" type="text" formControlName="surname" [readonly]="menjaProfil">
          <span class="focus-input100"></span>
          <span class="symbol-reg100">
            <i class="fa fa-font" aria-hidden="true"></i>
          </span>
        </div>
        <div *ngIf="f.surname.invalid && (f.surname.dirty || f.surname.touched) && !menjaProfil" class="alert alert-danger">
          <div *ngIf="f.surname.errors.required">
              <p>Prezime je obavezno.</p>
          </div>
          <div *ngIf="f.surname.errors.minlength">
              <p>Prezime mora da se sastoji od minimum 3 slova.</p>
          </div>
        </div>


        <div class="wrap-input100 validate-input" data-validate="Validna email adresa: someone@gmail.com">
          <p class="label-input100">Email</p>
          <input class="input100" type="text" formControlName="email" placeholder="Email adresa..."
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" readonly>
          <span class="focus-input100"> </span>
          <span class="symbol-reg100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>


        <div *ngIf="!menjaProfil">
        <div class="wrap-input100 validate-input" data-validate="Lozinka je neophodna">
          <p class="label-input100">Trenutna lozinka</p>
          <input class="input100" type="password" formControlName="CurrentPassword" placeholder="*************" [readonly]="menjaProfil" required>
          <span class="focus-input100"></span>
          <span class="symbol-reg100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        <div *ngIf="f.CurrentPassword.invalid && (f.CurrentPassword.dirty || f.CurrentPassword.touched) && !menjaProfil" class="alert alert-danger">
          <div *ngIf="f.CurrentPassword.errors.required">
            <p>Trenutna lozinka je obavezna.</p>
          </div>
        </div>
      </div>


      <div *ngIf="!menjaProfil">
        <div class="wrap-input100 validate-input" data-validate="Lozinka je neophodna">
          <p class="label-input100">Nova lozinka</p>
          <input class="input100" type="password" formControlName="password" placeholder="*************" [readonly]="menjaProfil">
          <span class="focus-input100"></span>
          <span class="symbol-reg100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched) && !menjaProfil" class="alert alert-danger">
          <div *ngIf="f.password.errors.required">
              <p> Nova lozinka je obavezna.</p>
          </div>
        </div>
      </div>


      <div *ngIf="!menjaProfil">
        <div class="wrap-input100 validate-input" data-validate="Ponovljena lozinka je neophodna">
          <p class="label-input100">Ponovljena nova lozinka</p>
          <input class="input100" type="password" formControlName="confirmPassword" placeholder="*************" [readonly]="menjaProfil">
          <span class="focus-input100"></span>
          <span class="symbol-reg100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched) && !menjaProfil" class="alert alert-danger">
          <div *ngIf="f.confirmPassword.errors.required">
              <p>Ponovljena lozinka je obavezna.</p>
          </div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">
              <p>Lozinke se moraju poklapati.</p>
          </div>
        </div>
      </div>


        <div class="wrap-input100 validate-input" data-validate="Adresa je neophodna">
          <p class="label-input100">Adresa</p>
          <input class="input100" type="text" formControlName="address" required placeholder="Adresa..." [readonly]="menjaProfil">
          <span class="focus-input100"></span>
          <span class="symbol-reg100">
            <i class="fa fa-home" aria-hidden="true"></i>
          </span>
        </div>
        <div *ngIf="f.address.invalid && (f.address.dirty || f.address.touched) && !menjaProfil" class="alert alert-danger">
          <div *ngIf="f.address.errors.required">
              <p>Adresa je obavezna.</p>
          </div>
        </div>


        <div class="wrap-input100 validate-input" data-validate="Datum rodjenja je nophodan">
          <p class="label-input100">Datum rođenja</p>
          <input class="input100" type="date" formControlName="datumRodjenja" required placeholder="Datum rodjenja..." [readonly]="menjaProfil">
          <span class="focus-input100"></span>
          <span class="symbol-reg100">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </div>
        <div *ngIf="f.datumRodjenja.invalid && (f.datumRodjenja.dirty || f.datumRodjenja.touched) && !menjaProfil"
          class="alert alert-danger">
          <div *ngIf="f.datumRodjenja.errors.required">
              <p>Datum rođenja je obavezan.</p>
          </div>
        </div>


        <div class="wrap-input100 validate-input">
          <p class="label-input100">Tip putnika</p>
          <select class="selectbox input100" formControlName="tipputnika" [(ngModel)]="selectedTipPutnika">
            <option value="Regularni">Regularni putnik</option>
            <option value="Djak"> Djak</option>
            <option value="Penzioner">Penzioner</option>
          </select>
          <span class="focus-input100"></span>
          <span class="symbol-reg100">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
        </div>

        <div *ngIf="!menjaProfil"> 
        <div class="wrap-input100" *ngIf="!f.email.errors && selectedTipPutnika != 'Regularni'">
            <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-4" (change)="handleFileInput($event.target.files)" />
            <label for="file-5">
              <figure>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                  <path
                    d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                </svg>
              </figure>
              <span>Izaberi sliku&hellip;</span>
            </label>
          </div>
        </div>

          <div>
            <img [src]="slika" alt="IMG" width="100%" height="100%">
          </div>
        
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="submit" *ngIf="!menjaProfil" class="login100-form-btn">
              Sačuvaj izmene
            </button>
          </div>
        </div>
      </form>


    </div>
  </div>
</div>